// Global Foundation Settings
@import "settings";

// Comment out this import if you are customizing you imports below
//@import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

//review these for redundancy before completion

@import "foundation/foundation-global"; // *always required
@import "foundation/components/global"; // *always required
@import "foundation/components/grid";
@import "foundation/components/visibility";
@import "foundation/components/block-grid";
@import "foundation/components/type";
@import "foundation/components/buttons";
@import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
@import "foundation/components/flex-video";
@import "foundation/components/section";
@import "foundation/components/top-bar";  // *requires components/grid
@import "foundation/components/orbit";
@import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
@import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
@import "foundation/components/dropdown";

//IMPORTS 
//Fonts and partial styles to import.  But, many of these will need to be imported into the _settings.scss partial in order not to be overridden.

//VARIABLES
//Particularly colors, borders.
$phablet-screen: emCalc(640px);
$phablet: "only screen and (min-width: "#{$phablet-screen}")";
$border: 1px solid $darkpaper;

//MIXINS
@mixin caps { text-transform: uppercase; letter-spacing: 0.1em; }
@mixin smallcaps { font-variant: small-caps; letter-spacing: 0.1em; }
@mixin mainshadow { box-shadow: 5px 5px 25px 5px rgba(220,220,220,0.25); }
@mixin stitchborder { border-style: dashed; border-color: rgb(220,220,220); }

//BASE STYLES
//Styles of specific elements, generally without children.
.mountain-bg { min-height: 100%; background: url('../images/mountains3.png') no-repeat 0 100%; background-size: contain; background-attachment: fixed; box-shadow: inset 0 0 25px rgba(150,150,150,0.5); }

	//orbit
	.orbit-prev, .orbit-next, .orbit-bullets, .orbit-timer, .orbit-slide-number { display: none; }

//LAYOUT STYLES
//Styling pertaining to the layout of the page, esp. Foundation grid mixins.

//MODULE STYLES
//Styling of standalone modules with multiple instances, e.g. panel styles, form styles, navbar styles.
#sitenav {
	.dropdown a { background: $paper; padding: 15px; }
	a:not(.button):hover { background: $darkpaper; }
	section>ul>li>a:not(.button) { @include caps; }	
}
#siteheader { margin: 6em 0 2em;
	@media #{$phablet}{ margin: 6em 0 0; }
	@media #{$small}{}
	@media #{$medium}{ margin: 8em 0 2em; }
	@media #{$large}{}
	#banner { @include grid-column(12); 
		@media #{$phablet}{ @include grid-column(10); }
		h1 { font-family: 'DARLINGRegular',sans-serif; @include caps; font-size: emCalc(30px); text-align: center; font-weight: 100; margin: 0;
			@media #{$phablet}{}
			@media #{$small}{ font-size: emCalc(38px); text-align: right; }
			@media #{$medium}{ font-size: emCalc(44px); }
			@media #{$large}{ font-size: emCalc(48px); }
		}
		h5 { text-align: center; font-weight: 400; font-size: 0.7em; @include caps;
			@media #{$phablet}{ font-size: 1em; }
			@media #{$small}{ text-align: right; margin-right: 3em; }
		}
	}
	#logo { display: none;
		@media #{$phablet}{ @include grid-column(2); display: block; }
		img { position: relative; top: -2em; 
			@media #{$phablet}{ max-height: 8em; }
		}
	}
}
nav {}
#wrapper { background: $paper; @include mainshadow;
	#content { padding: 3em; 
		#news-programs { 
			@media #{$phablet} { padding-right: 2em; border-right: $border;  }
			#front-news { border-bottom: $border; }
			#front-program {}
		}
		#events-video {
			@media #{$phablet}{ padding-left: 2em; }
			.eventtab {
				ul { list-style-type: none; 
					li { margin: 1em 0; 
						h6 { margin-bottom: 0.2em; 
							a { color: $primary-color; }
						}
						p { color: lighten($body-font-color, 25%); } 
					}
				}
			}
		}
		#index {
			ul { list-style-type: none; }
		}
	}
}

//set independent for multiple instances
.banner-slideshow { width: 100%; padding: 0!important; 
	.orbit-container { width: 100%; background: transparent;
		.slidecaption { position: absolute; left: 0; bottom: 0; width: 100%; padding: 1em; background: rgba($lightpaper, 0.8); color: #333; text-align: right; font-family: $header-font-family;
			h5 { @include caps; font-weight: 600; 
				a { color: $primary-color; }
			}
			a { color: $body-font-color; }
		}
	}
}

aside { 
	ul {list-style-type: none;}
	border-left: $border;
}
#sitefooter { text-align: center; margin: 3em 0; }
